<%= simple_form_for([@portfolio, @instrument.becomes(Instrument)], html: { class: "form-horizontal"}) do |f| %>
	<% f.object = @instrument.becomes(@instrument.class) %>
	<%= f.error_notification %>
	<div class="form-inputs">
	
  	<%= f.input :type, label: "Typ waloru", :collection => Instrument::DICT, :label_method => :last, :value_method => :first, prompt: false %>
    <%= f.input :name, label: "Nazwa" %>
    <%= f.input :friendly_name, label: "Nazwa skrótowa" %>
    <%= f.input :description, label: "Opis", :input_html => { :cols => 15, :rows => 5 } %>
    <%= f.input :units, label: "Liczba jednostek" %>
    <%= f.input :instrument_currency_id, label: "Waluta", :collection => InstrumentCurrency.all, :label_method => :short_name, :value_method => :id, prompt: false %>
    <%= f.input :interest_rate, label: "Oprocentowanie" %> 
    <%= f.input :capitalisation, label: "Kapitalizacja", :collection => Deposit::CapitalizationType, :label_method => :last, :value_method => :first, prompt: false%>
    <%= f.input :begin_value, label: "Wartość początkowa" %>
    <%= f.input :end_value, label: "Wartość końcowa" %>
    <%= f.input :buy_date, label: "Data zakupu" %>
    <%= f.input :evaluation_date, label: "Data wyceny" %>

  </div>

  <div class="form-actions">
    <%= f.submit "Dodaj walor", class: "btn btn-primary" %>
  </div>
<% end %>

<%= javascript_include_tag "mysrcipts" %>
