  <tr>
    <td><%= instrument.name %></td>
    <td><%= instrument.shortname %></td>
    <td><%= instrument.amount %></td>
    <td><%= instrument.value %></td>
    <td><%= instrument.buydate %></td>
    <!--<td><%= instrument.instrumentType %></td>-->
    <td><%= instrument.aaa %></td>
    <td><%= link_to 'Pokaż', instrument %></td>
    <td><%= link_to 'Edytuj', edit_instrument_path(instrument) %></td>
    <td><%= link_to 'Usuń', instrument, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>