
<div class="row">
    <div class="span6 offset3">
        <div class="well">
			<p>
			  <%= @instrument.name %>
			</p>
			
			<p>
			  <%= @instrument.shortname %>
			</p>
			
			<p>
			  <%= @instrument.amount %>
			</p>
			
			<p>
			  <%= @instrument.value %>
			</p>
			
			<p>
			  <%= @instrument.buydate %>
			</p>
			<p>
			  <%= @instrument.instrumentType %>
			</p>

				<%= link_to 'Edit', edit_instrument_path(@instrument) %> |
				<%= link_to 'Back', instruments_path %>
        </div>
    </div>
</div>

